#wrap {
    background-image: url(../../image/IndexBg.png);
    /*width: 100vw;*/
    background-size: 100vw 100%;
    padding-bottom: 1.84rem;
}

.height88 {
    height: 0.88rem;
}

.headerSearch {
    padding: 0 0.24rem;
}

.searchInput {
    height: 0.6rem;
    padding-left: 0.68rem;
    width: calc(84% - 0.40rem);
}

.searchInput input {
    width: 100%;
}

.searchIcon {
    width: 0.24rem;
    height: 0.24rem;
    left: 0.24rem;
    right: 0.17rem;
    background-image: url(../../image/icon_search.png);
    background-size: 0.24rem 0.24rem;
}
.newIcon {
    width: 0.48rem;
    height: 0.48rem;
}
.HeadNav{
  overflow-x: scroll;
}
.HeadNav::-webkit-scrollbar {
  display: none;
}

.HeadNav p:last-child{
  padding-right: 24px;
}
.HeadNav p{
  color: #fff;
  font-size: 0.28rem;
  padding:0.2rem 0.24rem;
  flex-shrink: 0;
  position: relative;
  height: calc(100% - 0.4rem);
}
.HeadNav p.active{
  font-weight: bold;
}
.HeadNav p.active::after{
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0.1rem;
  width:0.2rem;
  height:0.1rem;
  background-color: #fff;
  border-radius:4px;
}
