
#wrap {
  background-image: url("../../image/IndexBg.png");
      /*background-color: #777;*/
    /*width: 100vw;*/
    /*background-size: 100vw 100%;*/
    /*padding-bottom: 3.5rem;*/
}

.height88 {
    height: 0.88rem;
}

.headerSearch {
    padding: 0 0.24rem;
}

.searchInput {
    height: 0.6rem;
    padding-left: 0.68rem;
    width: calc(84% - 0.40rem);
}

.searchInput input {
    width: 100%;
}

.searchIcon {
    width: 0.24rem;
    height: 0.24rem;
    left: 0.24rem;
    right: 0.17rem;
    background-image: url(../../image/icon_search.png);
    background-size: 0.24rem 0.24rem;
}
.newIcon {
    width: 0.48rem;
    height: 0.48rem;
}
.HeadNav{
  overflow-x: scroll;
}
.HeadNav::-webkit-scrollbar {
  display: none;
}

.HeadNav p:last-child{
  padding-right: 0.24rem;
}
.HeadNav p{
  color: #fff;
  font-size: 0.28rem;
  padding:0.2rem 0.24rem;
  flex-shrink: 0;
  position: relative;
  height: calc(100% - 0.4rem);
}
.HeadNav p.active{
  font-weight: bold;
}
.HeadNav p.active::after{
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0.1rem;
  width:0.2rem;
  height:0.1rem;
  background-color: #fff;
  border-radius:4px;
}




#banner.swiper-container {
    width: calc(100vw - 0.48rem);
    height: 2.3rem;
    /*margin-top: 0.4rem;*/
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
}

#banner .swiper-slide, .swiper-slide img {
    text-align: center;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

#banner .swiper-pagination-bullet {
    width: 0.1rem;
    height: 0.1rem;
    background: rgba(255, 255, 255, 1);
    opacity: 0.6;
    border-radius: 4px;
    transition: all ease 0.5s;
}

#banner .swiper-pagination-bullet-active {
    width: 0.2rem;
    height: 0.1rem;
    background: rgba(255, 255, 255, 1);
    border-radius: 50%;
}




.navCenter {
    margin-top: 0.8rem;
    padding: 0.3rem 0.2rem 0.32rem;
    height: calc(1.54rem * 2);
}
#navs{

  /*height: calc(1.54rem * 2);*/
}
.NavItem img {
    border-radius: 50%;
    width: 0.9rem;
    height: 0.9rem;
}
.NavItem p {
    margin-top: -0.2rem;
}
.SlideItem {
    width: 1.4rem;
}



#strip{
  background-color: #F2F4F7;
  height: 0.08rem;
  margin: 0 auto;
  border-radius:4px;
  margin-top: 0.2rem;
}
#strip i{
  width:0.35rem;
  height:0.08rem;
  background:linear-gradient(90deg,rgba(255,77,0,1),rgba(255,125,69,1));
  border-radius:4px;
  left:0;
  transition: all ease 0.3s;
}


.bgred{
  background-color: #FF2421;
}

.money{
  color: #FF4D00;
}
.tips{
  margin: 0.5rem 0 0.2rem;
  padding: 0 0.25rem;

}
.tips img{
  width: 1.07rem;
  height: 0.29rem;
}
.navImage{
  width: 100vw;
  height: 2rem;
  padding-top: 0.24rem;
}

.coloeJin{color: #F1A719;}




.nextIcon {
    width: 0.48rem;
    height: 0.48rem;
}

.activity {
    padding: 0 0.24rem;
}

.fileftImg {
    margin-right: 0.1rem;
    width: 2.64rem;
}

.fileftImg,
.fileftImg img {
    height: 4.1rem;
    width: 2.64rem;
}

.activityImage {
    margin-top: 0.16rem;
}

.activityImage img {
    border-radius: 10px;
}

.rightImg {}

.rightImg .rightTopImg,
.rightImg .rightTopImg img {
    width: 4.3rem;
    height: 2rem;
}

.rightImg .rightBottomImg img {
    width: 2.11rem;
    height: 2rem;
    margin-top: 0.1rem;
}

.rightImg .rightBottomImg img:last-child {
    margin-left: 0.1rem;
}



.TopBatr{
  width:100%;
  /*position: fixed;*/
  /*top: 0;
  left: 0;*/
  /*padding-top: 20px;*/
  z-index: 999;
  /*background-color: #fff;*/
  /*background-image: url("../../image/IndexBg.png");*/
  /*background-size: 100vw 4rem;*/
}
.timeGo {
    padding: 0 0.24rem;
}

.ml8 {
    margin-left: 0.1rem;
}

.mt9 {
    margin-left: 0.1rem;
}

.timeInt {
    width: 1.5rem;
    height: 0.4rem;
    line-height: 0.4rem;
    border-radius: 4px;
}

.TimeList {
    width: 1.4rem;
}

.TimeList.active p:first-child {
    background: linear-gradient(90deg, rgba(255, 42, 42, 1) 0%, rgba(255, 92, 92, 1) 100%);
    border-radius: 20px;
    color: #fff;
}

.TimeList.active p:last-child {
    color: rgba(255, 50, 50, 1);
}
#RushBuyShop{
  margin-top: 0.16rem;
  padding-bottom: 0.35rem;
  --swiper-pagination-color: #FF5107;/* 两种都可以 */

}
.timeTitle{
  height: 1rem;
}
#ShopRedio{
  bottom: 0;
}

.swiper-container{
  touch-action: none;
   display: block;
}
