<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>vip按钮</title>
    <style>
        .vipBtn {
            text-align: center;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: .7rem;
            color: rgba(77, 77, 77, 1);
        }

        .vipBtn img {
            width: 3rem;
            height: 3rem;
        }
    </style>
</head>

<body>
    <div class="vipBtn">
        <img src="../../image/vip.png" />VIP权益
    </div>
</body>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/jqmin.js"></script>
<script>
apiready = function() {
  $(".vipBtn").click(function(){
    api.openFrame({
      name: 'vip',
      url: '../../html/vip/vip.html',
      rect: {
        x: 0,
        y: 0,
        w:'auto',
        h:500,
      },
      pageParam: {
          name: ''
      }
  });
  })
};
</script>
</html>
