<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../css/public.css" />
    <link rel="stylesheet" type="text/css" href="../../css/shar.css" />
</head>

<body>
    <div id="wrap">
        <div class="sharbtn">
            <div class="sharbtnT">分享到</div>
            <div class="sharbtnC">

            </div>
            <div class="sharbtnB">取消</div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/jqmin.js"></script>
<script type="text/javascript">
    apiready = function() {
        var shar = api.pageParam.id;
        getsharLength(shar)
        $('#wrap').click(function(e) {
              var target = $(e.target);
              if(!target.is('.sharbtn *')){
                api.closeFrame({
                    name: 'shar'
                });
              }
          })
            $('.sharbtn').on("click",".sharbtnB",function(){
                    api.closeFrame({
                        name: 'shar'
                    });
              })
    };
    function getsharLength(shar){
      $.ajax({    
          url: '../../script/shar.json',
              success: function(data) {
              var data = JSON.parse(data).nav
              var html = ''
              $.each(data, function(item, index) {
                  if(item != shar){
                      html += '<div typeId="'+index.id+'"><img src="' + index.sharimg + '"/><p>' + index.title + '</p></div>'
                  }
              })
              $(".sharbtnC").html(html) 
          }   
      })
    }
    $(".sharbtnC").on("click", "div", function() {
      var typeId = $(this).attr("typeId")
      if(typeId == 1){
        //保存图片
      }else if(typeId == 2){
        //分享微信好友
      }else if(typeId == 3){
        //分享微信朋友圈
      }else if(typeId == 4){
        //分享qq好友
      }else{
        //分享qq朋友圈
      }
    })
</script>

</html>
