html, body, #wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#wrap header {
    height: 1.28rem;
    background: linear-gradient(90deg, rgba(255, 77, 0, 1) 0%, rgba(255, 125, 69, 1) 100%);
}

.statusBar {
    height: .4rem;
}

.title {
    width: 96%;
    margin: 0 auto;
    height: .88rem;
}

.title img {
    width: .48rem;
    height: .48rem;
}

.cashRecord {
    width: .48rem;
    height: .48rem;
}

.cashRecord img {
    width: 100%;
    height: 100%;
}

#wrap main {
    width: 100%;
    flex: 1;
    overflow: auto;
}

#wrap main::-webkit-scrollbar {
    display: none;
}

.cashOut {
    width: 100%;
    background: linear-gradient(90deg, rgba(255, 77, 0, 1) 0%, rgba(255, 125, 69, 1) 100%);
}

.cashOut_con {
    width: 96%;
    margin: 0 auto;
}

.cashOut_title {
    width: 100%;
    height: .8rem;
    line-height: .88rem;
}

.cashOut_money {
    width: 100%;
    height: .88rem;
}

.Settlement {
    width: 100%;
    height: .88rem;
}

.Settlement span {
    display: inline-block;
    margin-right: .2rem;
}

.Tips {
    width: 100%;
    height: .8rem;
    opacity: .8;
    background: linear-gradient(90deg, rgba(255, 77, 0, 1) 0%, rgba(255, 125, 69, 1) 100%);
}

.Tips_con {
    width: 96%;
}

.Tips_text {
    width: 65%;
    overflow: hidden;
}

.Look_details {
    width: 25%;
    opacity: 0.8;
    border-radius: .24rem;
}

.Look_details span {
    padding-left: .2rem;
}

.Look_details img {
    width: .48rem;
    height: .48rem;
}

.set {
    width: 96%;
    height: 1.44rem;
    border-bottom: 1px solid #F5F5F5;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.set_Left img {
    width: .82rem;
    height: .82rem;
}

.set_Left span {
    padding-left: .1rem;
}

.set_right img {
    width: .48rem;
    height: .48rem;
}

.set1_Left {
    width: 65%;
    overflow: hidden;
}

.Imgbox {
    width: .82rem;
    height: .82rem;
}

.Imgbox img {
    width: 100%;
    height: 100%;
}

.accountInfo {
    flex: 1;
    padding-left: .1rem;
}

.set1_right {
    width: 25%;
}

.Isshow {
    width: .48rem;
    height: .48rem;
    display: flex;
}

.Isshow img {
    width: 100%;
    height: 100%;
}

.block {
    display: none;
}

.replace>span {
    color: #999999;
    font-size: .28rem;
}

.replace img {
    width: .48rem;
    height: .48rem;
}

.myCashOut {
    width: 96%;
    margin: .2rem auto;
}

.myCashtitle {
    width: 100%;
    height: .88rem;
    line-height: .88rem;
}

.Prompt {
    width: 100%;
    height: .8rem;
    line-height: .8rem;
}

.Input_box {
    width: 50%;
    margin: 0 auto;
    font-size: .59rem;
    border-bottom: 1px solid #F5F5F5;
}

.Input_val {
    color: #333333;
    border-bottom: 1px solid # FF4D00;
}

.Input_box input {
    width: 60%;
}

.cashOutBtn {
    width: 100%;
    height: .8rem;
    line-height: .8rem;
    background: linear-gradient(90deg, rgba(255, 77, 0, 1) 0%, rgba(255, 125, 69, 1) 100%);
    opacity: 0.9;
    border-radius: .4rem;
    margin: .3rem auto;
}

.ishide {
    display: none;
}
