html, body, #wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#wrap header {
    background: linear-gradient(90deg, rgba(255, 77, 0, 1) 0%, rgba(255, 125, 69, 1) 100%);
}

.statusBar {
    height: .4rem;
}

.title {
    width: 100%;
    background: linear-gradient(90deg, rgba(255, 77, 0, 1) 0%, rgba(255, 125, 69, 1) 100%);
}

.title_con {
    width: 96%;
    margin: 0 auto;
    height: .88rem;
}

.title_con img {
    width: .48rem;
    height: .48rem;
}

.title_span {
    display: inline-block;
    flex: 1;
}

#wrap main {
    width: 100%;
    flex: 1;
    overflow: auto;
}

#wrap main::-webkit-scrollbar {
    display: none;
}

.About_order {
    width: 96%;
    margin: .1rem auto;
}

.About_order_title {
    width: 100%;
    height: .88rem;
}

.About_order_title img {
    width: .48rem;
    height: .48rem;
}

.About_order_con {
    width: 100%;
    box-shadow: 0rem 0rem .1rem 0rem rgba(0, 0, 0, 0.06);
    border-radius: .1rem;
}

.problem_item {
    width: 96%;
    height: .88rem;
    margin: 0 auto;
    border-bottom: 1px solid #F5F5F5;
}

.problem_item span {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.problem_item img {
    width: .48rem;
    height: .48rem;
}
