html, body, #wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #F7F7F7;
}

#wrap header {
    color: #333333;
    background: #ffffff;
}

.statusBar {
    height: .4rem;
}

.title {
    width: 96%;
    margin: 0 auto;
    height: .88rem;
}

.title img {
    width: .48rem;
    height: .48rem;
}

.title_span {
    display: inline-block;
    flex: 1;
}

#wrap main {
    width: 100%;
    flex: 1;
}

#wrap main::-webkit-scrollbar {
    display: none;
}

.userInfo {
    width: 100%;
    margin: .2rem auto;
}

.userInfo_item {
    width: 95%;
    height: .88rem;
    margin: 0 auto;
    border-bottom: 1px solid #F5F5F5;
}

input::-webkit-input-placeholder {
    color: #999999;
    font-size: .28rem;
}

input {
    width: 80%;
    color: #333333;
    font-size: .28rem;
    border: none;
}

.userInfo_item span {
    padding: .09rem .15rem;
    background: #D6D6D6;
    border-radius: .24rem;
}

.getCode {
    background: #FF4D00!important;
}

.cashOutBtn, .default {
    width: 90%;
    height: .8rem;
    line-height: .8rem;
    background: linear-gradient(90deg, rgba(255, 77, 0, 1) 0%, rgba(255, 125, 69, 1) 100%);
    opacity: 0.9;
    border-radius: .4rem;
    margin: .3rem auto;
}

.default {
    display: none;
}
