html, body, #wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#wrap header {
    height: 1.28rem;
    background: linear-gradient(90deg, rgba(255, 77, 0, 1) 0%, rgba(255, 125, 69, 1) 100%);
}

.statusBar {
    height: .4rem;
}

.title {
    width: 96%;
    margin: 0 auto;
    height: .88rem;
}

.title img {
    width: .48rem;
    height: .48rem;
}

.title_span {
    flex: 1;
}

#wrap main {
    width: 100%;
    flex: 1;
    overflow: auto;
}

#wrap main::-webkit-scrollbar {
    display: none;
}

.cashOut {
    width: 100%;
    background: linear-gradient(90deg, rgba(255, 77, 0, 1) 0%, rgba(255, 125, 69, 1) 100%);
}

.cashOut_con {
    width: 96%;
    margin: 0 auto;
}

.cashOut_title {
    width: 100%;
    height: .8rem;
    line-height: .88rem;
}

.cashOut_money {
    width: 100%;
    height: .88rem;
}

.navBar {
    height: .88rem;
    line-height: .88rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    border-bottom: .01rem solid rgba(255, 255, 255, 0.3);
}

.navBar p {
    flex: 1
}

.navBaractive {
    font-size: .28rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    position: relative;
}

.navBaractive::after {
    position: absolute;
    bottom: .1rem;
    left: 50%;
    margin-left: -.1rem;
    content: "";
    width: .2rem;
    height: .1rem;
    background: rgba(255, 255, 255, 1);
    border-radius: .04rem;
}

.Tips {
    width: 100%;
    height: .8rem;
    background: linear-gradient(90deg, rgba(255, 77, 0, 1) 0%, rgba(255, 125, 69, 1) 100%);
}

.Tips_con {
    width: 96%;
}

.myCashOut {
    width: 96%;
    margin: .2rem auto;
}

.myCashtitle {
    width: 100%;
    height: .88rem;
    line-height: .88rem;
    color: #333333;
    font-size: .3rem;
}

.Prompt {
    width: 96%;
    box-shadow: 0rem 0rem .1rem 0rem rgba(0, 0, 0, 0.06);
    border-radius: .1rem;
    margin: 0 auto;
}

.profit_item {
    flex: 1;
    padding: .25rem 0rem;
}
.progress_box{
  margin: .2rem auto;
}
.progress {
    width: 96%;
    margin: 0 auto;
}
.orderTips{
  margin: .2rem 0;
}
.pro_con {
    width: 100%;
    height: .15rem;
    border-radius: .1rem;
    overflow: hidden;
    display: flex;
    /*margin: .2rem auto;*/
}

progress {
    width: 100%;
    height: 100%;
    background: red;
}

progress::-webkit-progress-bar {
    background-color: #d7d7d7;
}

.progress1::-webkit-progress-value {
    background: linear-gradient(90deg, rgba(225, 37, 27, 1) 0%, rgba(225, 37, 27, 1) 0%, rgba(255, 111, 103, 1) 100%);
}

.progress2::-webkit-progress-value {
    background: linear-gradient(90deg, rgba(255, 66, 0, 1) 0%, rgba(255, 135, 93, 1) 100%);
}

.progress3::-webkit-progress-value {
    background: linear-gradient(90deg, rgba(227, 84, 76, 1) 0%, rgba(255, 148, 142, 1) 100%);
}

.jd, .tao, .pin {
    font-size: .18rem;
    padding: .04rem .1rem;
    border-radius: .05rem;
}

.jd {
    background: #E1251B;
}

.tao {
    background: #FF4200;
}

.pin {
    background: #E3544C;
}
