html, body, #wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#wrap header {
    height: .8rem;
    background: linear-gradient(90deg, rgba(255, 77, 0, 1) 0%, rgba(255, 125, 69, 1) 100%);
}

.statusBar {
    height: .4rem;
}
#wrap main {
    width: 100%;
    flex: 1;
    background: pink;
    overflow: auto;
}

#wrap main::-webkit-scrollbar {
    display: none;
}


/*用户信息*/

.header{
  width: 100%;
  height: 2.4rem;
  /*border: 1px solid black;*/
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 77, 0, 1) 0%, rgba(255, 125, 69, 1) 100%);

}
.userInfo_box {
    width: 96%;
    /*border: 1px solid black;*/
    margin: 0rem auto;
    display: flex;
    justify-content: space-between;
}

.userInfo_con {
    width: 80%;
    /*border: 1px solid black;*/
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.userInfo {
    flex: 1;
    margin-left: .2rem;
    /*border: 1px solid black;*/
}

.Avatar {
    width: 1.2rem;
    height: 1.2rem;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    overflow: hidden;
}

.Avatar>img {
    width: 100%;
    height: 100%;
}

.nickName {
    color: #FFFFFF;
    font-size: .35rem;
    margin-bottom: .2rem;
}

.code, .coin {
    color: #FFFFFF;
    font-size: .28rem;
}
.coin{
line-height: .5rem;
}

.vip {
    padding: .01rem .1rem;
    background: linear-gradient(55deg, rgba(255, 200, 122, 1) 0%, rgba(255, 210, 148, 1) 100%);
    opacity: .5;
    font-size: .24rem;
    color: #FFFFFF;
    border-radius: .15rem;
}

.copy {
    padding: .03rem .1rem;
    background: rgba(0, 0, 0, 1);
    opacity: 0.2;
    border-radius: .2rem;
    font-size: .22rem;
    color: #FFFFFF;
}
.Info_set{
  width: 16%;
  /*border: 1px solid black;*/
  font-size: .26rem;
  display: flex;
  justify-content: space-between;
}
.info{
    width: .48rem;
    height: .48rem;
    position: relative;
}
.info>span{
  position: absolute;
  top: -.1rem;
  right: -.1rem;
  display: inline-block;
  padding: .05rem .1rem;
  border-radius: 100%;
  background: red;
  color: #ffffff;
  font-size: .18rem;
  text-align: center;
}
.info>img{
  width: 100%;
  height: 100%;
}
.set{
    width: .48rem;
    height: .48rem;
}
.set>img{
  width: 100%;
  height: 100%;
}
