html, body, #wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#wrap header {
    height: .4rem;
    background: linear-gradient(90deg, rgba(255, 77, 0, 1) 0%, rgba(255, 125, 69, 1) 100%);
}
.statusBar {
    height: .4rem;
}
#wrap main {
    width: 100%;
    flex: 1;
    overflow: auto;
}
#wrap main::-webkit-scrollbar {
    display: none;
}
/*用户信息*/
.header {
    width: 100%;
    height: 2.8rem;
    background: linear-gradient(90deg, rgba(255, 77, 0, 1) 0%, rgba(255, 125, 69, 1) 100%);
}
.userInfo_box {
    width: 96%;
    margin: 0rem auto;
}
.userInfo_con {
    width: 80%;
}
.userInfo {
    flex: 1;
    margin-left: .2rem;
}
.Avatar {
    width: 1.2rem;
    height: 1.2rem;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    overflow: hidden;
}
.Avatar img {
    width: 100%;
    height: 100%;
}
.nickName {
    margin-bottom: .2rem;
}
.coin {
    line-height: .5rem;
}
.vip {
    padding: .01rem .1rem;
    background: linear-gradient(55deg, rgba(255, 200, 122, 1) 0%, rgba(255, 210, 148, 1) 100%);
    opacity: .5;
    border-radius: .15rem;
}

.copy {
    padding: .03rem .1rem;
    background: rgba(0, 0, 0, 1);
    opacity: 0.2;
    border-radius: .2rem;
}

.Info_set {
    width: 16%;
    font-size: .26rem;
}

.info {
    width: .48rem;
    height: .48rem;
}

.info span {
    top: -.1rem;
    right: -.1rem;
    display: inline-block;
    width: .3rem;
    height: .3rem;
    border-radius: 100%;
    background: red;
    font-size: .18rem;
    display: flex;
}
.info img {
    width: 100%;
    height: 100%;
}
.set {
    width: .48rem;
    height: .48rem;
}
.set img {
    width: 100%;
    height: 100%;
}
/*余额展示*/
.balance {
    width: 96%;
    height: .98rem;
    margin: .1rem auto;
    margin-top: -.5rem;
    background: linear-gradient(90deg, rgba(236, 209, 149, 1)0%, rgba(212, 176, 124, 1) 100%);
    box-shadow: 0rem .04rem .16rem 0rem rgba(0, 0, 0, 0.1);
    border-radius: .1rem;
}
.balance_con {
    width: 95%;
    margin: 0 auto;
}
.balance_title {
    width: 70%;
    border-right: 1px solid #FFFFFF;
}
.CashBtn {
    width: 25%;
}
.CashBtn img {
    width: .48rem;
    height: .48rem;
}
/*我的收益*/
.Profit_box, .makeMoney_box, .Utilities ,.Quick_access {
    width: 96%;
    margin: 0 auto;
}
.Profit_title {
    width: 100%;
    height: .88rem;
}
.more img {
    width: .45rem;
    height: .45rem;
}
.Profit_price_box {
    width: 100%;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0rem 0rem .1rem 0rem rgba(0, 0, 0, 0.06);
    border-radius: .1rem;
}
.Profit_price {
    width: 95%;
    height: 1.49rem;
    margin: 0 auto;
}
.order_box {
    width: 100%;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0rem 0rem .1rem 0rem rgba(0, 0, 0, 0.06);
    border-radius: .1rem;
    margin: .2rem auto;
}
.order {
    width: 90%;
    height: 1.49rem;
    margin: 0 auto;
}
.money {
    font-family: PingFang SC;
    font-weight: 500;
    margin-top: .1rem;
}
.order_item img {
    width: .56rem;
    height: .56rem;
}
.makeMoney_title, .Utilities_title , .access_title{
    width: 100%;
    height: .88rem;
    line-height: .88rem;
}
.makeMoney_ul {
    width: 100%;
    height: 1.34rem;
    margin: 0 auto;
}
.makeMoney_item {
    width: 48%;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0rem 0rem .1rem 0rem rgba(0, 0, 0, 0.06);
    border-radius: .1rem;
}
.makeMoney_con {
    width: 90%;
}
.makeMoneyText {
    width: 60%;
    margin: 0 auto;
}
.makeMoneyText span {
    font-weight: bold;
    color: #FE3B3B;
}
.makeMoneyText p {
    text-align: left;
    margin-top: .05rem;
}
.makeMoneyImg {
    width: .96rem;
    height: .86rem;
}
.makeMoneyImg img {
    width: 100%;
    height: 100%;
}
.adv_box {
    width: 100%;
    height: 1.81rem;
    background: #F5F5F5;
    margin: .2rem auto;
}
.adv_con {
    width: 96%;
    height: 1.49rem;
}
.adv_con img {
    width: 100%;
    height: 100%;
}
/*实用工具*/
.Utilities {
    width: 96%;
}
.Utilities_con {
    width: 100%;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0rem 0rem .1rem 0rem rgba(0, 0, 0, 0.06);
    border-radius: .1rem;
}

.Utilities_item {
    width: 20%;
    padding: .2rem 0rem;
}

.Utilities_item img {
    width: .56rem;
    height: .56rem;
}

.Utilities_item span {
    width: 100%;
    overflow: hidden;
    display: inline-block;
    margin-top: .1rem;
}
.access_ul{
  width: 100%;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0rem 0rem .1rem 0rem rgba(0, 0, 0, 0.06);
  border-radius: .1rem;
}
.access_item{
  width: 95%;
  height: .88rem;
  border-bottom: 1px solid #F5F5F5;
  margin: 0  auto;
}
.access_item img{
  width: .44rem;
  height: .44rem;
}
