html, body, #wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#wrap header {
    background: linear-gradient(90deg, rgba(255, 77, 0, 1) 0%, rgba(255, 125, 69, 1) 100%);
}

.statusBar {
    height: .4rem;
}

.title {
    width: 96%;
    margin: 0 auto;
    height: .88rem;
}

.title img {
    width: .48rem;
    height: .48rem;
}

.title_span {
    display: inline-block;
    flex: 1;
}

.navBar {
    width: 100%;
}

.navBar_con {
    width: 96%;
    margin: 0 auto;
    height: .88rem;
    line-height: .88rem;
    border-bottom: 1px solid #F5F5F5;
}

.navBar_con p {
    flex: 1;
}

.navBaractive {
    position: relative;
    font-weight: bold;
}

.navBaractive::after {
    position: absolute;
    bottom: .1rem;
    left: 50%;
    margin-left: -.1rem;
    content: "";
    width: .2rem;
    height: .1rem;
    background: linear-gradient(90deg, rgba(255, 77, 0, 1), rgba(255, 125, 69, 1));
    border-radius: .04rem;
}

#wrap main {
    width: 100%;
    flex: 1;
}

#wrap main::-webkit-scrollbar {
    display: none;
}

.record {
    width: 96%;
    margin: .2rem auto;
}

.record_item {
    width: 100%;
    height: .88rem;
    border-bottom: 1px solid #F5F5F5;
}

.record_item span {
    flex: 1;
}
