main {
    flex: 1
}

footer {
    height: .98rem;
}

#footer ul {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#footer ul li {
    flex: 1;
    background: url() no-repeat center .02rem;
    background-size: auto .3rem;
    text-align: center;
    font-size:.2rem;
    color:rgba(77,77,77,1);
}

#footer ul li.active {
    color: #FF4E00;
}
#footer ul li .footer_icon{
  width: .48rem;
  height: .48rem;
  margin: .15rem auto 0 ;
  position: relative;
}
#footer ul li:nth-child(1) .footer_icon{
    background-image: url(../image/unhome.png);
    background-size: 100%
}

#footer ul li:nth-child(2) .footer_icon{
    background-image: url(../image/unclassify.png);
    background-size: 100%
}
#footer ul li:nth-child(4) .footer_icon{
    background-image: url(../image/unmessage.png);
    background-size: 100%
}

#footer ul li:nth-child(5) .footer_icon{
    background-image: url(../image/unown.png);
    background-size: 100%
}

#footer ul li:nth-child(1).active .footer_icon{
    background-image: url(../image/home.png);
    background-size: 100%
}

#footer ul li:nth-child(2).active .footer_icon{
    background-image: url(../image/classify.png);
    background-size: 100%
}
#footer ul li:nth-child(4).active .footer_icon{
    background-image: url(../image/message.png);
    background-size: 100%
}

#footer ul li:nth-child(5).active .footer_icon{
    background-image: url(../image/own.png);
    background-size: 100%
}
