.header {
    width: 100%;
    background: linear-gradient(90deg, rgba(255, 77, 0, 1) 0%, rgba(255, 125, 69, 1) 100%);
}

.title {
    width: 96%;
    margin: 0 auto;
    height: .88rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title>img {
    width: .48rem;
    height: .48rem;
}

.title>span {
    font-size: .36rem;
    color: #FFFFFF;
}

.select_Coupon {
    width: 1.08rem;
    height: .6rem;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #FFFFFF;
    border-radius: .3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select_Coupon>span {
    color: #FFFFFF;
    font-size: .24rem;
}
.select_Coupon>img{
  width: .16rem;
  height: .09rem;
  margin-left: .05rem
}
/*Tab切换*/
.navBar{
  width: 100%;
  height: .88rem;
  line-height: .88rem;
  font-size:.28rem;
  font-weight:400;
  color:rgba(255,255,255,1);
  text-align: center;
  background: linear-gradient(90deg, rgba(255, 77, 0, 1) 0%, rgba(255, 125, 69, 1) 100%);
}
.navBar_content{
  width:100%;
    height: 1.9rem;
    display: inline;
    white-space: nowrap;
    overflow-x:scroll;
    float:left;
    overflow-y:hidden
}
.navBar_content>li{
  padding: 0 .3rem;
  display:inline-block;
 margin:0;
}
.navBaractive{
  font-size:.28rem;
  font-weight:bold;
  color:rgba(255,255,255,1);
  position: relative;
}
.navBaractive::after{
  position: absolute;
  bottom: .1rem;
  left: 50%;
  margin-left: -.1rem;
  content: "";
  width: .2rem;
  height: .1rem;
  background: rgba(255,255,255,1);
  border-radius: .04rem;
}
/*弹储层*/
.modal{
  position: fixed;
  top: 1.3rem;
  width: 100%;
  height:100%;
  bottom: 0rem;
  display: none;
  background:rgba(0,0,0,.3);
}
.modal_con{
  width: 1.08rem;
  background: #FFFFFF;
  border-radius:0rem 0rem .3rem .3rem;
  padding-top: .5rem;
}
.modal_item{
  width: 90%;
  border-bottom: 1px solid #fff;
  height: .6rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333333;
}
.Textactive{
  color: #FF4E00;
}
.modal_item>span{
  font-size: .24rem;
}
.modal_item>img{
  width: .28rem;
  height: .2rem;
  display: none;
}
