.flex{display: flex;}
.spaceAround{justify-content: space-around;}
.spaceBetween{justify-content: space-between;}
.alineCenter{align-items: center;}
.textCenter{text-align: center;}
.shrink{flex-shrink: 0;}
.flexWrap{flex-wrap: wrap;}

.flexCloum{flex-direction: column;}
.color666{color: #666;}
.color999{color: #999;}
.color333{color:#333333;}
.colorgray{color: #C2C2C2;}
.colorfff{color:#fff;}
.colorred{color: #FF0101;}
.fs22{font-size: 0.22rem;}
.fs24{font-size: 0.24rem;}
.fs28{font-size: 0.28rem;}
.fs32{font-size: 0.32rem;}
.fs30{font-size: 0.3rem;}
.fs36{font-size: 0.36rem;}
.fs40{font-size: 0.40rem;}
.bgfff{background-color: #fff}
.bgf5{
  background-color: #F5F5F5;
  background-image: url(../image/loginImage.png);
  background-repeat: no-repeat;
  background-position: center center;;
  background-size: 1.37rem 1.07rem;
}
.radius20{border-radius: 20px;}
.por{position: relative;}
.poa{position: absolute;}
.blod{font-weight: bold;}
.topCenter{top: 50%;transform: translateY(-50%);}
.leftCenter{left: 50%;transform: translateX(-50%);}
.posCenter{top: 50%;left: 50%;transform: translate(-50%,-50%);}
.redButtonGradual{background:linear-gradient(90deg,rgba(255,43,42,1) 0%,rgba(255,92,92,1) 100%);border-radius:20px;}
.block{display: block;}
.topAnimation{
  animation: topAnimation 5s;
}
@keyframes topAnimation {
  from {top:2rem;}
  to {top:50%;}
}
